In [1]:
print "Helo world"

Helo world

In [2]:
b= true

NameError: name 'true' is not defined

In [3]:
b= True

In [4]:
type(b)

bool

In [5]:
c='hello there'

In [6]:
type(c
)

str

In [1]:
import graphlab

In [3]:
dum= graphlab.SFrame('people-example.csv')

[INFO] This non-commercial license of GraphLab Create is assigned to vamsikrishna.vegunta@mavs.uta.eduand will expire on September 22, 2016. For commercial licensing options, visit https://dato.com/buy/.

[INFO] Start server at: ipc:///tmp/graphlab_server-2688 - Server binary: C:\Users\user\AppData\Local\Dato\Dato Launcher\lib\site-packages\graphlab\unity_server.exe - Server log: C:\Users\user\AppData\Local\Temp\graphlab_server_1442986319.log.0
[INFO] GraphLab Server Version: 1.6

PROGRESS: Finished parsing file C:\Users\user\Desktop\ML_UW\people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.015628 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[str,str,str,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file C:\Users\user\Desktop\ML_UW\people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.015629 secs.

In [4]:
dum

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]